.loader {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loader div {
  animation: animateBorder 1s ease-in-out infinite;
}

.loaderCryptoIcon {
  height: 10em;
  width: 10em;
  padding: 20px;
}

@keyframes animateBorder {
  0%,
  100% {
    border-width: 0px;
  }
  50% {
    border-width: 30px;
  }
}
