:root {
  --coinPageBackgroundColor: #050f2e;
  --coinPageBlockHighlightColor: #091741;
}

.parentContainer101CoinPage {
  font-family: "Noto Sans JP", sans-serif;
}

.coinPageContainer101CoinPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--coinPageBackgroundColor);
  margin: 0;
  color: #e0e4ed;
}

.coinPageDiv101CoinPage {
  width: 70%;
}

@media (max-width: 1015px) {
  .coinPageDiv101CoinPage {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .coinPageDiv101CoinPage {
    width: 1000px;
  }
}

.coinPageDivOpaque101CoinPage {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.coinPageDivRemoveOpaque101CoinPage {
  opacity: 1;
}

.coinIconAndName101CoinPage {
  margin-right: 10px;
}

.nameHeading101CoinPage {
  font-size: max(20px, min(1vw, 40px));
  font-weight: 600;
}

.nameAndPriceDiv101CoinPage {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
}

.nameAndPriceDiv101CoinPage > *:first-child {
  padding-right: 20px;
  padding-bottom: 10px;
}

.nameAndPriceDiv101CoinPage > * {
  background-color: var(--coinPageBlockHighlightColor);
  border-radius: 5px;
}

.coinDetails101CoinPage {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 30px;
}

.coinDetails101CoinPage > * {
  width: 33%;
  padding: 25px;
  background-color: var(--coinPageBlockHighlightColor);
  border-radius: 5px;
  margin-right: 20px;
}

.coinDetails101CoinPage > *:last-child {
  margin-right: 0px;
}

.nameAndPriceDiv101CoinPage > * :first-child {
  display: flex;
  align-items: center;
}

.cryptoIcon101CoinPage {
  height: 8rem;
  width: 8rem;
  padding: 20px;
}

.coinPrices101CoinPage {
  padding: 30px;
  align-items: center;
}

.coinPricesChild101CoinPage {
  padding-top: 20px;
  font-size: 1.3em;
}

.coinPricesChild101CoinPage > div > div {
  font-weight: 900;
}

.priceChange101CoinPage {
  display: inline-block;
  width: max-content;
  font-weight: 900;
  font-size: 0.7em;
}

.coinPricesChild101CoinPage > div:last-child {
  display: flex;
  justify-content: flex-end;
}

.coinInfo101CoinPage {
  font-size: 1.3em;
  padding-top: 26px;
  font-weight: 700;
}

.priceIcon101CoinPage {
  height: 2rem;
  width: 2rem;
  padding-right: 8px;
}

.coinDetails101CoinPage > *:last-child .coinInfo101CoinPage span {
  position: absolute;
}

.description101CoinPage {
  background-color: var(--coinPageBlockHighlightColor);
  font-weight: 100;
  margin-top: 30px;
  padding: 25px;
  border-radius: 5px;
}

.description101CoinPage > h1 {
  padding-bottom: 30px;
}

.description101CoinPage > div h3 {
  font-size: 1.5em;
  padding: 25px 0px 0px 0px;
}

.description101CoinPage > div a {
  text-decoration: none;
  color: chocolate;
  font-weight: 900;
}

.description101CoinPage > div a:hover {
  text-decoration: underline;
  color: aqua;
  font-weight: 900;
}

.coinIconAndName101CoinPage:hover > *:first-child img {
  animation: cryptoCoinPage 0.75s ease infinite 0s;
}

@keyframes cryptoCoinPage {
  0%,
  100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

.market101CoinPage,
.visitLinks101CoinPage,
.sparkLine101CoinPage {
  background-color: var(--coinPageBlockHighlightColor);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 5px;
}

.sparkLine101CoinPage > *:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px 30px 0px;
}
