:root {
  --coinPageBackgroundColor: #050f2e;
  --coinPageBlockHighlightColor: #091741;
}

.parentContainer101CoinPage {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: "Noto Sans JP", sans-serif;
}

.coinPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--coinPageBackgroundColor);
  margin: 0;
  color: #e0e4ed;
}

.coinPageDiv {
  width: 70%;
}

@media (max-width: 1015px) {
  .coinPageDiv {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .coinPageDiv {
    width: 1000px;
  }
}

.coinPageDivOpaque {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.coinPageDivRemoveOpaque {
  opacity: 1;
}

.coinIconAndName101CoinPage {
  margin-right: 10px;
}

.nameHeading101CoinPage {
  font-size: max(20px, min(1vw, 40px));
  font-weight: 600;
}

.nameAndPriceDiv101CoinPage {
  display: flex;
  align-items: center;
  padding-top: 20px;
  /* border: 1px solid green; */
  justify-content: space-between;
}

.nameAndPriceDiv101CoinPage > *:first-child {
  padding-right: 20px;
  padding-bottom: 10px;
}

.nameAndPriceDiv101CoinPage > * {
  background-color: var(--coinPageBlockHighlightColor);
  border-radius: 5px;
  /* box-shadow: 0 0 2px 0.2px rgb(124, 124, 124); */
}

.coinDetails {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* padding: 20px; */
  margin-top: 30px;
  /* border: 1px solid green; */
}

.coinDetails > * {
  /* border: 1px solid red; */
  width: 33%;
  padding: 25px;
  background-color: var(--coinPageBlockHighlightColor);
  border-radius: 5px;
  margin-right: 20px;
  /* text-align: center; */
}

.coinDetails > *:last-child {
  margin-right: 0px;
}


.nameAndPriceDiv101CoinPage > * :first-child {
  display: flex;
  align-items: center;
}

.cryptoIconCoinPage {
  height: 8rem;
  width: 8rem;
  padding: 20px;
}

.coinPrices {
  padding: 30px;
  /* display: flex; */
  align-items: center;
}

.coinPricesChild {
  /* width: 100%; */
  padding-top: 20px;
  font-size: 1.3em;
}

.coinPricesChild > div > div {
  font-weight: 900;
}

.priceChange101CoinPage {
    display: inline-block;
    width: max-content;
    font-weight: 900;
    font-size: 0.7em;
    /* border: 1px solid green; */
}

.coinPricesChild > div:last-child {
    /* border: 1px solid orange; */
}

.coinPricesChild > div:last-child {
    display: flex;
    justify-content:flex-end;
}

.coinInfo {
  font-size: 1.3em;
  padding-top: 26px;
  font-weight: 700;
}

.priceIcon {
  height: 2rem;
  width: 2rem;
  padding-right: 8px;
}

.coinDetails > *:last-child .coinInfo span {
  /* border: 1px solid red; */
  position: absolute;
}

.description101CoinPage {
  background-color: var(--coinPageBlockHighlightColor);
  font-weight: 100;
  margin-top: 30px;
  padding: 25px;
  border-radius: 5px;
}

.description101CoinPage > h1 {
  padding-bottom: 30px;
}

.description101CoinPage > div h3 {
    font-size: 1.5em;
    padding: 25px 0px 0px 0px;
    /* text-decoration: underline; */
}

.description101CoinPage > div a {
  text-decoration: none;
  color:chocolate;
  font-weight: 900;
}

.description101CoinPage > div a:hover {
  text-decoration: underline;
  color:aqua;
  font-weight: 900;
}


.coinIconAndName101CoinPage:hover > *:first-child img {
  animation: cryptoCoinPage 0.75s ease infinite 0s;
}

@keyframes cryptoCoinPage {
  0%,
  100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

.market101CoinPage , .visitLinks , .sparkLine {
  background-color: var(--coinPageBlockHighlightColor);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 5px;
}


.sparkLine > *:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px 30px 0px;
}