:root {
    --fontColor : #FFFFFF;
    --coinPageBlockHighlightColor : #091741;
}


.div101HomePage {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--fontColor);
    /* border: 1px solid purple; */
}